{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class= "drawer" id="drawer">
        <ul>
            {% for link in NAV_LINKS %}
                <li class="{% if request.resolver_match.url_name == link.url %}active{% endif %}">
                    <a href="{% url link.url %}">
                        {{ link.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <nav>
        <div id="drawer-toggler" class='icon-button ml-10'>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
            </svg>
        </div>
        <div class="nav-ele-container">
            {% for link in NAV_LINKS %}
                <a href="{% url link.url %}" class="{% if request.resolver_match.url_name == link.url %}active{% endif %}">
                    {{ link.name }}
                </a>
            {% endfor %}
        </div>
       
    </nav>
    {% block content %}{% endblock %}
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>