{% extends "base.html" %}

{% block title %}Projects{% endblock  %}

{% block content %}
    <div class="projects normal-layout">
        <div class = "flex flex-wrap justify-center">
            {% for project in projects %}
                <div class="project-container">
                    <div>
                        <h4 class="field">Title</h4>
                        <h4 style="margin-top:0;color:#525252;">{{project.title}}</h4>
                    </div>
                    <div>
                        <h4 class="field">Description</h4>
                        <p style="margin-top:0;">{{project.description}}</p>
                    </div>
                    <div>
                        <h4 class="field">Client</h4>
                        <p style="margin-top:0;">{{project.client_name}}</p>
                    </div>
                    <div class="flex justify-between">
                       <div class="flex">
                            <h4 class="field">Start:&nbsp;</h4>
                            <p style="margin-top:0;">{{project.start_date}}</p>
                        </div>
                        <div class="flex">
                            <h4 class="field">End:&nbsp;</h4>
                            <p style="margin-top:0;">{{project.end_date}}</p>
                        </div>
                    </div>
                    <div>
                        <h4 class="field">Tech Stack</h4>
                        <ul class="tech-stack-container">
                            {% for tech in project.techstack.all %}
                                <li>{{tech}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
         <a class="float-right anchor-primary-button" href="/experience" >
            Experience
        </a>
    </div>
{% endblock content %}
