:root {
  --primary-color: #ffffff;
  --background-color: rgba(109, 109, 109, 0.228);
  --bg-default-color: #000000;
  --text-default-color: #ffffff;
}

body {
    font-family: 'JetBrains Mono', monospace;
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-default-color);
    background-color:var(--bg-default-color);
    margin: 0;
    padding: 0;
}
nav{
    box-shadow: 0 4px 22px rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    height: 40px;
    z-index: 1;
    width: 100%;
}
.nav-ele-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Default styling */
.nav-ele-container a {
    position: relative;
    padding: 0.5rem 1rem;
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    color: var(--text-default-color);
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .nav-ele-container a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0.25rem;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
    transform: scaleX(0);
    transform-origin: left; /* Change this to left for a left-to-right animation */
    transition: transform 0.3s ease;
  }
  .drawer{
    display: none;
  }
  
  .nav-link.active::after {
    transform: scaleX(1);
  }
  
  .nav-link:focus {
    color: var(--primary-color);;
  }
  .nav-link:hover {
    color: var(--primary-color) !important; /* Change text color on hover */
    background-color:var(--background-color); /* Subtle background color */
    border-radius: 4px; /* Optional: Add border radius for smooth edges */
  }
  /* Visited link styling */
  .nav-link:visited {
    color: #5a5a5a; /* subtle color change for visited links */
    font-weight: 600;
  }
  
  /* Selected/Active link (current page) */
  .nav-link.active {
    color: var(--primary-color);  /* active link color */
  }
  
  .nav-link.active::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  .icon{
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }
  .icon-button{
    display: none;
  }
  .icon-button:hover{
    background-color: var(--background-color);
    border-radius: 50%;
  }
  .icon-button .icon:hover{
    color: var(--primary-color);
  }
  .ml-10{
    margin-left: 10px;
  }
  .container{
    height: calc(100vh - 80px);
    overflow-y: scroll;
    scroll-behavior: smooth;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 0px;
  }
  .default-layout{
    width: 600px;
  }
  .name{
      color: #5a5a5a;
      font-weight: normal;
      margin: 0;
      margin-bottom: -20px;
      font-style: oblique;
      font-family: monospace;
  }
  .align-justify{
    text-align: justify;
  }
  .float-right{
    float: right;
  }
  .anchor-primary-button{
    position: relative;
    padding: 0.5rem 1rem;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 10px;
    text-decoration: none;
    color: var(--primary-color); /* Change text color on hover */
    transition: color 0.3s ease, transform 0.3s ease;
  }
  .anchor-primary-button:hover{
    background-color: var(--background-color); /* Subtle background color */
    border-radius: 4px; /* Optional: Add border radius for smooth edges */
  }
  .skills ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .skill-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .skill-container li{
    margin: 10px;
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
  } 
  .skill-container li:hover{
    cursor: pointer;
    background-color: var(--background-color);
  }
  .field{
    margin: 0;
    color: #797878;
  }
  .flex{
    display: flex;
  }
  .flex-wrap{
    flex-wrap: wrap;
  }
  .justify-between{
    justify-content: space-between;
  }
  .justify-center{
    justify-content: center;
  }
  .tech-stack-container{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .tech-stack-container li{
    margin-right: 10px;
  }
  .project-container{
    background-color: var(--background-color);
  }
  .project-container{
    width: 380px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
  }
  .normal-layout{
    width: 1000px;
  }
  .page-section{
    border: 1px solid #ffff;
  }
  .profile-photo{
    width: 100%;
    object-fit: cover;
  }
  
/* For screens 768px and wider (e.g., tablets, desktops) */
@media (max-width: 768px) {
  .icon-button {
    line-height: 12px;
    padding: 8px;
    cursor: pointer;
    display: block;
  }
  .nav-ele-container{
    display: none;
  }
  .drawer{
    display: none; /* hidden by default */
    position: fixed;
    box-shadow: 0 4px 16px rgba(241, 241, 241, 0.2);
    background-color: var(--bg-default-color);
    width: 160px;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 1000;
  }
  .drawer ul{
    padding-inline-start: 0px;
  }
  .drawer ul li{
    list-style: none;
    color: var(--text-default-color);
    cursor: pointer;
  }
  .drawer ul li:hover{
    background-color: #ccc;
  }
  .drawer ul li a{
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    padding: 7px;
  }
  .drawer.open {
    display: block; /* shown when 'open' class is added */
  }
  /* Selected/Active link (current page) */
  .drawer ul li.active {
    background-color: var(--background-color);  /* active link color */
    color: var(--primary-color);
  }
  .default-layout{
    width: 100%;
  }
  .normal-layout{
    width: 100%;
  }
}